@model WebERP.PeruMoney.Models.AgenciaModel


@using (Html.BeginForm())
{
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        <li class="btn btn-danger btn-circle">
            <i class="fas fa-save"></i>
        </li> @ViewBag.Title
    </h1>
    <p></p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.SubTitle</h6>
        </div>
        <div class="card-body">


            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdAgencia)

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="control-label font-weight-bold">Agencia</label>
                    @Html.EditorFor(model => model.Agencia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Agencia, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label font-weight-bold" for="inputDep">Departamento</label>
                    @Html.DropDownListFor(model => model.IdDepartamento, new SelectList(Model.DepartamentoList, "IdDepartamento", "Departamento"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdDepartamento, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label font-weight-bold" for="inputProv">Provincia</label>
                    @Html.DropDownListFor(model => model.IdProvincia, new SelectList(Model.ProvinciaList, "IdProvincia", "Provincia"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdProvincia, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label font-weight-bold" for="inputDist">Distrito</label>
                    @Html.DropDownListFor(model => model.IdUbigeo, new SelectList(Model.DistritoList, "IdUbigeo", "Distrito"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdUbigeo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label font-weight-bold">Dirección</label>
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label font-weight-bold">Teléfono</label>
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label font-weight-bold">Latitud</label>
                    @Html.EditorFor(model => model.Latitud, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <div class="form-group col-md-6">
                    <label class="control-label font-weight-bold">Longitud</label>
                    @Html.EditorFor(model => model.Longitud, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group col-md-offset-2">
                <a class="btn btn-primary shadow-sm" href="@Url.Action("Inicio", "Agencia")">
                    <i class="fas fa-undo fa-sm text-white-50"></i> Regresar
                </a>

                <input type="submit" class="btn btn-success shadow-sm" value="Grabar" />
            </div>

        </div>
    </div>
}
